.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    align-self: center;
    max-width: 50%;
}

pagination-controls {
    text-align: center;
}

::ng-deep ul>li:not(.active)>a {
    background-color: #24252a !important;
}