<div class="card text-white mb-3" style="width: 18rem;" *ngIf="pokemon">
    <img [src]="pokemon.image" class="card-img-top" alt="..."/>
    <div class="card-body">
        <div class="number">Nº {{ pokemon.number }}</div>
        <h5 class="card-title">{{ pokemon.name }}</h5>
        <div>HP: {{ pokemon.hp }}</div>
        <div>Atk Power: {{ pokemon.atk }}</div>
        <div>Defense: {{ pokemon.def }}</div>
        <div class="types">
            <div class="type" *ngFor="let type of pokemon.types">{{ type }}</div>
        </div>
    </div>
</div>