.card {
    background: #3333;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    text-transform: capitalize;
    width: 215px;
}

.card::after,
.card::before {
    background: #000;
    border-radius: inherit;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    transition: transform 0.3s ease;
    width: 100%;
    z-index: -1;
}

.card:hover {
    transform: translate(-12px, -12px);
}

.card:hover::after {
    transform: translate(6px, 6px);
}

.card:hover::before {
    transform: translate(12px, 12px);

}

.number {
    color: #919191;
    font-size: 80%;
    padding-bottom: 5px;
    padding-top: 2px;
}

.types {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.type {
    background: #cacaca;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    line-height: 18px;
    margin: 0 10px;
    max-width: 110px;
    text-align: center;
    width: 38.4375%;
}